/*UTILIZO DIF CLASES DE NEGRITAS YA QUE UNA APLICA A LA PAGINA DE INICIO DONDE EL TAMAÑO QUEDA MEJOR UN POCO MAS GRANDE*/
.negrita {
    font-weight: bold;
    font-size: 2.8rem;
    .negrita2{
        font-weight: bold;
        font-size: 2.3rem;
    }
}

.fuenteMediana {
    font-size: 1.875rem;
    .fuenteMedianaGrande {
        font-size: 1.875rem;
    }
}
