/*1er fuente de letra para los titulos*/
@font-face {
    font-family: "Monea Alegante";
    src: url(../Fuentes/Monea\Alegante.otf);
}

/*2da fuente de letra para el cuerpo de la pag*/
@font-face {
    font-family: "Bar Booth at Matts";
    src: url(../Fuentes/Bar\Booth\at\Matts.ttf);
}

@font-face {
    font-family: "creamDemo" ;
    src: url(../Fuentes/cream-DEMO.ttf);
}
