@import "variables";
@import "colores";
@import "tipografia";
@import "fuentes";
@import "maps";
@import "extend";
@import "mixin";


*{
    margin: 0;
    padding: 0;
}


/* viñetas cuadradas*/
ul{
    list-style: square;
    a {
        text-decoration: none;
        .enLinea {
            display: inline-block;          
            padding: 1.2%;
            font-size: 1.25rem; 
            .transparente {

                background-color: transparent;
                border-color: transparent;
            }
        }
    }
}

.listaNav {

    display: flex;
    justify-content: space-between;
    list-style: none;
    li {
        font-size: 1.375rem;
    }
    
}

/*modif de titulos de los html*/
h1 {
    color: rgb(188, 226, 51);
    font-size: 6.563rem;
    font-family: "Monea Alegante";
    text-align: center;
    font-weight: bold;
    margin: 6.125rem 0.625rem 1.875rem;
    animation-duration: 2.5s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        .h2Contacto {
            padding-bottom: 1.25rem;
        }
    }

}

.carousel{
    cursor: pointer;
}

button {
    padding: 0.313rem;
    .separacion {
        padding-bottom: 2rem;
        }
}

    /*imagen de fondo*/
body {
    background-image: url(../img/CssImagenFondo/ImgFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


footer{
    font-size: 1.25rem;
    color:white;
    text-align: center;
    font-family: "Monea Alegante";
    font-size: 2.188rem;
    text-align: center;
    padding-top: 1.5rem;
}


#imgsIndex  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
}

#ImgsHab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
}


#framesIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
}

#equipaciones h2 {
    padding-bottom: 1.875rem;
}



img:hover{
    transform: scale(1.2);
    transition: 0.9s;
}


.listaNav li{
    height: 0.625rem;
    transition: ease-out 2s;
    transition: height .3s;
    :hover {
        background-color: rgb(66, 111, 168);
        height: 1.25rem;
    }
}




@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
 }
 

 
 /*MEDIA QUERYS*/

@media (min-width: 768px) {
    #imgsIndex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        
    }

    #imgsHab {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }

    #framesIndex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2.5rem;
    }

    #serviciosImg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }

        
}

@media (min-width: 1024px) {
    #imgsIndex {
        grid-template-columns: repeat(2, 1fr);
    }

    #imgsHab {

        grid-template-columns: repeat(2, 1fr);

    }
    
}




